-optimizationpasses 5
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keep class com.deange.quicklink.model.** { *; }
-keep public enum com.deange.quicklink.model.** { *; }

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-assumenosideeffects class android.util.Log {
    public static *** v(...);
}

-keep enum com.j256.**
-keep class com.j256.**
-keep interface com.j256.**
-keepclassmembers enum com.j256.** { *; }
-keepclassmembers class com.j256.** { *; }
-keepclassmembers interface com.j256.** { *; }
